# Virtual Environment
sl_env/
venv/
.env

# Python cache
__pycache__/
*.pyc

# Data and large files
Train_words/
processed_data/
*.pkl
*.ipynb_checkpoints/

# Frontend/Backend specifics
node_modules/
.DS_Store
