* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

/* LEFT */
.left {
  flex: 2;
  background: #141414;
  border-radius: 15px;
  padding: 20px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 15px;
}

.camera-box {
  position: relative;
  background: #000;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #1db954;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.green {
  background: #1db954;
  color: black;
}

.gray {
  background: #333;
  color: white;
}

.status {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.green {
  background: #1db954;
}

/* RIGHT */
.right {
  flex: 1;
  background: #141414;
  border-radius: 15px;
  padding: 20px;
}

.prediction {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.highlight {
  color: #1db954;
  font-weight: bold;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #222;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 12px;
}
